numpy
scipy
matplotlib
JACK-client
pygments
sndfileio
emlib
cachetools
configdict
pitchtools
bpf4
numpyx
appdirs

sphinx-autodoc-typehints
sphinx-automodapi
autodocsumm
sphinxawesome-theme
sphinx-design
sphinx-book-theme
